<div class='content'>
  <h2><%= @cuisine.name %> Street Food</h2>
  <p><strong>Related Recipies:</strong><%= @cuisine.recipe %></p>
  <br />
  <div class='text-center'>
    <% @results.each do |photo| %>
        <%= link_to image_tag(photo.first), photo.last %>
    <% end %>
  </div>
</div>

